.sl-filters-panel {
    width: 21rem;
    background-color: var(--slds-g-color-neutral-base-95,rgb(243, 243, 243));
}
.sl-filters-panel-left {
    margin-right: 2px;
}
.sl-filters-panel-background {
    background-color: var(--slds-g-color-neutral-base-100,rgb(255, 255, 255));
}
.sl-footer {
    /*background-color: rgb(243, 242, 242);*/
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-top-color: var(--slds-g-color-neutral-base-80,rgb(201, 201, 201));;
    border-top-style: solid;
    border-top-width: 1px;
}
.sl-helptext {
    position: absolute;
    left: 16.25rem;
    top: -0.15rem;
}
.sl-clear-input {
    margin-top: 1.75rem;
}
.sl-clear-lookup-object-selector {
    position: relative;
    top: 2rem;
}