.slds-combobox__input,
.slds-combobox_container {
    transition: border 0.1s linear, box-shadow 0.1 linear;
}

.slds-combobox__input {
    box-shadow: none;
}

.slds-combobox__input.has-custom-border {
    box-shadow: 0 0 0 2px #fff inset, 0 0 0 3px rgb(221, 219, 218) inset;
}
.slds-combobox__input.has-custom-height {
    height: 32px !important;
}
.sl_listbox {
    overflow: visible!important;
}