.sl-filters-panel {
    width: var(--sl-filters-panel-width);
    background-color: var(--slds-g-color-neutral-base-95,rgb(243, 243, 243));
}
.sl-filters-panel-left {
    margin-right: 2px;
}
.sl-filters-panel-background {
    background-color: var(--slds-g-color-neutral-base-100,rgb(255, 255, 255));
}
.sl-filters-panel-nomaxheight {
    overflow-y: hidden;
}
.sl-filters-panel-maxheight {
    overflow-y: auto;max-height: var(--sl-filters-panel-maxheight);
}
.sl-footer {
    /*background-color: rgb(243, 242, 242);*/
    box-sizing: border-box;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-top-color: var(--slds-g-color-neutral-base-80,rgb(201, 201, 201));;
    border-top-style: solid;
    border-top-width: 1px;
}
.sl-helptext {
    position: relative;
    left: 0.25rem;
    top: -0.25rem;
}
.sl-operator-helptext {
    position: relative;
    left: 1rem;
}
.sl-operator-div {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 2rem;
}
.sl-operator-div-range {
    margin-top: 1.25rem;
    flex-basis: 2rem;
}
.sl-operator-combo {
    width: 1.5rem;
    height: 2rem;
    display: block;
}
.sl-clear-filter {
    margin-top: 0.325rem;
}
.sl-clear-filter-range {
    margin-top: 1.6rem;
}
.sl-clear-lookup-object-selector {
    position: relative;
    top: 2rem;
}