.sl-file-upload {
    display: inline-block;
    margin-top:-1.5rem;
    margin-bottom:0px;
}
.sl-file-upload-flow {
    display: inline-block;
    margin-top:-1.5rem;
    margin-bottom:0px;
}