.sl-output-cell {
    display: contents;
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-50%);
    padding-top: .25rem;
    padding-bottom: .25rem;
    padding-left: 0.5rem;
    padding-right: 1.25rem;
    word-break: break-word;
}
.sl-output-tile {
    word-break: break-word;
    white-space: normal;
}
.sl-icon {
    vertical-align: text-bottom;
}
.sl-checkbox {
    background-color: transparent !important;
}
.sl-rich-text {
    display: contents;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
}
.sl-horz {
    display: block;
    width: 100%;
    height: 0px;
}
.sl-vert {
    display: block;
    width: 0px;
    height: 100%;
}